<% provide(:demo_class, "active") %>

<% content_for :depth_1 do %>
	<li>
		<%= link_to "Home", "#" %>
	</li>
<% end %>

<% content_for :depth_2 do %>
	<li>
		<%= link_to "Demo App", "#" %>
	</li>
<% end %>



<h1> Demo Ace theme app </h1>