<!DOCTYPE html>
<html>
<head>
  <title>Ace Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body class="no-skin">
		<div class="mask" id="mask" style="z-index: 91; height: 900px; background-color:#fff;opacity:0.5;filter:alpha(opacity=50);width: 100%; display:none;position:fixed;top:0;left:0;">
		  <div style="text-align:center;position:relative;top:21%;margin:0px auto;z-index:1000;width:300px;height:100px;">
		    <%= image_tag "loading_img.gif" %>
		  </div>
		</div>

		<%= render partial: 'layouts/header' %>
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<%= render partial: 'layouts/sidebar' %>
			<div class="main-content">
				<!-- #section:basics/content.breadcrumbs -->
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<%= link_to "Home", root_path %>
						</li>

						<%= yield :depth_1 %>
						<%= yield :depth_2 %>
						<%= yield :depth_3 %>
					</ul><!-- /.breadcrumb -->

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- /section:settings.box -->
						<div class="page-content-area">
							<div class="row">
								<div class="col-xs-12">
									<!-- PAGE CONTENT BEGINS -->
									<%= yield %>
									<!-- PAGE CONTENT ENDS -->
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.page-content-area -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>

			<!-- basic scripts -->

			<!--[if !IE]> -->
			<script type="text/javascript">
				window.jQuery || document.write("<script src='../assets/js/jquery.min.js'>"+"<"+"/script>");
			</script>

			<script type="text/javascript">
				if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
			</script>

			<!-- page specific plugin scripts -->

			<!-- ace scripts -->

			<!-- inline scripts related to this page -->

			<!-- the following scripts are used in demo only for onpage help and you don't need them -->

			<script type="text/javascript"> ace.vars['base'] = '..'; </script>
		</div>
		
		<%= render partial: 'layouts/footer' %>
	</body>
</html>



